@import "utils/reset";
@import "utils/bootstrap";
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "utils/mixins";
@import "utils/variables";
@import "utils/global";
@import "utils/fonts";
@import "utils/animation";
@import "utils/buttons";
@import "utils/section";
@import "utils/download";
@import "header/top-bar";
@import "header/search-bar";
@import "header/menu";

@import "partials/footer";
@import "partials/socials";
@import "partials/block/map";
@import "partials/block/why-us";
@import "partials/block/about-team";
@import "partials/block/experience";
@import "partials/block/team-wins";
@import "partials/block/event-desc";
@import "partials/block/events";
@import "partials/block/teams";
@import "partials/block/about-agustin";
@import "partials/block/advantages";
@import "partials/block/why-you-should-dance";
@import "partials/hero/home-hero";
@import "partials/block/contact";
@import "partials/block/contact-coop";
@import "partials/block/contact-map";
@import "partials/block/casting-form";
@import "partials/block/discover-more";
@import "partials/block/who-is-agustin";
@import "partials/block/our-team";
@import "partials/block/event-plan";
@import "partials/block/participation-conditions";
@import "partials/block/departure-information";
@import "partials/block/camp-prize";
@import "partials/block/do-you-have-questions";
@import "partials/block/instructor-description";
@import "partials/block/about-instructor";
@import "partials/block/teams-led-by";
@import "partials/block/thankyou-page";
@import "partials/block/document-download";

@import "partials/block/quote-eds";
@import "partials/block/looking-for-idea";
@import "partials/block/small-advantages-single";
@import "utils/single";
@import "partials/article-box";
@import "partials/see-also";
@import "partials/block/dancing-styles-in-our-school";
@import "utils/dance-style-box";
@import "partials/sliders/testimonials";
@import "partials/block/pricing";
@import "partials/block/important";
@import "partials/block/lessons";
@import "partials/block/featured-post";

@import "partials/search-result";
@import "partials/block/only-one-school-in-poland";
@import "partials/block/history-of-our-school";
@import "partials/single-kariera";
@import "partials/archive-kariera";
@import "partials/block/partners";
@import "partials/block/opinions";

@import "partials/block/casting-desc";
@import "partials/block/faq";
@import "partials/block/individual-lessons";

body {
  background:  #E6E6E6;
  font-family: 'Helvetica Neue LT Pro', sans-serif;
  overflow-x:  hidden;
}

.wp-block-embed {
  background-color: $white;
  text-align:       center;
  padding:          0 15px;
}

.wp-block-embed__wrapper {
  max-width: 800px;
  width:     100%;
  margin:    0 auto;

  iframe {
    width: 100%;
  }
}