.idea
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/languages/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/readme.html
/license.txt

wp-content/themes/wp-eds/webpack/node_modules/
wp-content/themes/wp-eds/dist/
wp-content/themes/wp-eds/images/
wp-content/themes/wp-eds/webpack/package-lock.json

wp-content/themes/twentytwentytwo/
wp-content/themes/twentytwenty/
wp-content/themes/twentytwentyone/
wp-content/themes/wp-eds/data/
/wp-content/ai1wm-backups/
