.home-hero{
  background-size: cover !important;
  position: relative;
  &.low{
    max-height: 400px;
    height: 100%;
    padding: 100px 0;
    .home-hero__wrapper{
      max-width: 860px;
      .home-hero__title{
        margin-bottom: 20px;
      }
    }
  }
  &.wide{
    padding: 220px 0;
    .home-hero__wrapper{
      max-width: 775px;
        .home-hero__title{
            margin-bottom: 42px;
        }
    }
  }
  &__wrapper{
    margin: 0 auto;
    max-width: 775px;
  }
  &__bottom-arrow{
    position: absolute;
    bottom: 30px;
    left: 50%;
    right: 50%;
  }
  &__title{

    h1{
      font-style: italic;
      font-weight: 700;
      font-size: 38px;
      text-align: center;
      line-height: 42px;
      text-transform: uppercase;
      color: #fff;
      @media (min-width: $screen-md) {
        font-size: 72px;
        line-height: 82px;
      }
    }
  }
  &__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 42px;
    color:#fff;
    text-align: center;
    &:before {
      content: '/';
      margin-right: 25px;
      color:$white;
    }
  }
}