.btn {
  border-radius:   100px;
  text-transform:  uppercase;
  padding:         13px 28px;
  text-decoration: none;
  font-weight:     700;
  font-size:       14px;
  line-height:     15px;
  display:         inline-flex;
  align-items:     center;
  justify-content: center;
  text-align:      center;
  @include media-breakpoint-up(lg) {
    font-size:   16px;
    line-height: 19px;
  }

  &--red {
    color: $red;
  }

  &--outline-red {
    border: 1px solid $red;
  }

  &--white {
    color: $white;
  }

  &--white-bg {
    background-color: $white;
  }

  &--red-bg {
    background-color: $red;
  }
}