@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-bd-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-bd-webfont.woff') format('woff');
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-bdcno-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-bdcno-webfont.woff') format('woff');
  font-weight: 700;
  font-style:  italic;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-roman-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-roman-webfont.woff') format('woff');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-it-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-it-webfont.woff') format('woff');
  font-weight: 400;
  font-style:  italic;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-md-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-md-webfont.woff') format('woff');
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-hvcn-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-hvcn-webfont.woff') format('woff');
  font-weight: 900;
  font-style:  normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-hvcno-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-hvcno-webfont.woff') format('woff');
  font-weight: 900;
  font-style:  italic;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-mdcn-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-mdcn-webfont.woff') format('woff');
  font-weight: 500;
  font-style:  normal;
}


@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src:         url('../../../fonts/helveticaneueltpro-mdcno-webfont.woff2') format('woff2'),
               url('../../../fonts/helveticaneueltpro-mdcno-webfont.woff') format('woff');
  font-weight: 500;
  font-style:  italic;
}