@mixin fontface($name, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('fonts/#{$name}/#{$file}.eot');
    src: url('fonts/#{$name}/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('fonts/#{$name}/#{$file}.woff') format('woff'),
    url('fonts/#{$name}/#{$file}.ttf') format('truetype'),
    url('fonts/#{$name}/#{$file}.svg?#webfont') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin fontface-nosvg($name, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('fonts/#{$name}/#{$file}.eot');
    src: url('fonts/#{$name}/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('fonts/#{$name}/#{$file}.woff') format('woff'),
    url('fonts/#{$name}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}
@mixin fontface-ttf($name, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('fonts/#{$name}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin button{
  border: 1px solid $black;
  background: transparent;
  font-family: $font-LibreFranklin;
  transition: all 0.2s;
}

