//Images url

$assetPath:  "./images";

//Colors
$white:      #ffffff;
$black:      #000000;

$graphite:   #494343;
$red:        #cc0033;
$light-gray: #E6E6E6;
$gray:      #BEBEBE;

//Fonts

//$font-ArgentCF:"ArgentCF"; //TODO: Fill in


//Screen size
$screen-xs:  576px;
$screen-sm:  768px;
$screen-md:  992px;
$screen-lg:  1200px;
$screen-xlg: 1455px;
