.menu {
  display: flex;
  &-mobile{
    &-wrapper{
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      position: relative;
    }
    &__close{

    }
    .menu-item{
      justify-content: center;
      max-width: unset;
      padding: 15px 15px;
      position: relative;
      &:before{
        content: '';
        width: calc(100% - 30px);
        background: #e6e6e6;
        position: absolute;
        bottom: 0;
        padding: 0 15px;
        height: 1px;
      }
    }
    &__login{
      svg{
        width: 20px;
        height: 20px;
      }
    }
    &__container{
      position: absolute;
      top: 100%;
      background: $white;
      z-index: 2;
      left: -245px;
      width: 230px;
      transition: left 0.3s ease-in-out;
      &.open{
        left: -15px;
        transition: left 0.3s ease-in-out;
      }
    }
  }
  &.menu-desktop{
    .menu-item{
      &.menu-item-has-children{
        position: relative;
        &:hover{
          .sub-menu{
            position: absolute;
            top: 100%;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .menu-item{
              padding: 0;
              margin-bottom: 20px;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .sub-menu{
      display: none;
      padding: 30px;
      background: #FFFFFF;
      border-top: 1px solid #BEBEBE;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
    }
  }
  &-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 180px;
    padding: 30px;
    cursor: pointer;

    &:hover,&:focus{
      a{
      color: $red;
        font-weight: 500;
      }
    }



    a{
      color: #494343;
      text-decoration: unset;
      font-weight: 500;
    }
  }
}
header{
  background-color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}