.do-you-have-questions {
  background-color: $white;
  padding:          30px 0 60px;

  @include media-breakpoint-up(lg) {
    padding: 60px 0 120px;
  }

  .section__header {
    display:        flex;
    flex-direction: column-reverse;
    margin-bottom:  40px;
  }

  @include media-breakpoint-up(lg) {
    padding: 60px 0;
  }

  &__box {
    display:       flex;
    align-items:   center;
    margin-bottom: 20px;

    &__left {
      width: 40px;
      @include media-breakpoint-up(lg) {
        width: 55px;
      }

      svg {
        width:  22px;
        height: auto;

        @include media-breakpoint-up(lg) {
          width: 35px;
        }
      }
    }

    &__name {
      font-size:     14px;
      line-height:   18px;
      display:       block;
      margin-bottom: 8px;

      @include media-breakpoint-up(lg) {
        font-size:   16px;
        line-height: 20px;
      }
    }

    &__link {
      font-size:       17px;
      line-height:     20px;
      font-weight:     700;
      font-style:      italic;
      text-decoration: none;
      color:           $black;
      text-transform:  uppercase;

      @include media-breakpoint-up(lg) {
        font-size:   22px;
        line-height: 26px;
      }
    }

    &__desc {
      font-size:     12px;
      line-height:   16px;
      color:         $black;
      margin-bottom: 30px;

      @include media-breakpoint-up(lg) {
        font-size:   14px;
        line-height: 18px;
      }
    }
  }

  &__image {
    background-size:   cover;
    background-repeat: no-repeat;
    border-radius:     8px;
    padding-bottom:    200px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 400px;
    }
  }
}