.events {

}

.event-box {
  background-color: $white;
  border-radius:    8px;
  overflow:         hidden;

  &__thumb {
    padding-bottom:      180px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    @include media-breakpoint-up(lg) {
      padding-bottom: 240px;
    }
  }

  &__data {
    padding: 30px 16px;

    @include media-breakpoint-up(lg) {
      padding: 40px 32px;
    }
  }

  &__link {
    text-decoration: none;
    display:         block;
    margin-bottom:   12px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 20px;
    }
  }

  &__name {
    font-size:      24px;
    line-height:    28px;
    color:          $black;
    font-weight:    700;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size:   32px;
      line-height: 38px;
    }
  }

  &__list {
    list-style: none;
    display:    flex;
    flex-wrap:  wrap;
    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
    }

    a {
      background-color: $light-gray;
      color:            $black;
      padding:          8px 16px;
      font-size:        14px;
      line-height:      18px;
      font-weight:      400;
      border-radius:    40px;
      margin:           0 10px 10px 0;
      display:          block;
      text-decoration:  none;
    }
  }

  &__details {
    font-weight:   700;
    font-size:     14px;
    line-height:   18px;
    color:         $black;
    display:       flex;
    align-items:   center;
    flex-wrap:     wrap;
    margin-bottom: 12px;
    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    span {
      display:      flex;
      align-items:  center;
      flex-wrap:    wrap;
      padding:      4px 12px 4px 0;
      margin-right: 10px;
    }

    svg {
      margin-right: 4px;
    }
  }
}