.search{
  padding: 80px 0;
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-right{
      display: flex;
      &-text{
        margin-right: 21px;
      }
    }
  }
}