.see-cooperation-posibilites {
  background-color: $white;
  padding:          60px 0;

  @include media-breakpoint-up(lg) {
    padding: 120px 0;
  }

  .section__header {
    display:        flex;
    flex-direction: column-reverse;
    margin-bottom:  40px;
  }

  &__box {
    padding:       28px 16px;
    box-shadow:    0px 0px 16px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    @include media-breakpoint-up(lg) {
      padding:   32px;
      max-width: calc(25% - 20px);
    }

    img {
      height:        50px;
      margin-left:   auto;
      display:       block;
      margin-bottom: 10px;

      @include media-breakpoint-up(lg) {
        height:        67px;
        margin-bottom: 30px;
      }
    }

    &__title {
      font-size:   16px;
      font-weight: 500;
      line-height: 20px;

      @include media-breakpoint-up(lg) {
        font-size:   18px;
        line-height: 26px;
        font-weight: 700;
      }
    }
  }

  &__slider {
    margin-top: 20px;

    .slick-track {
      display:        flex;
      align-items:    stretch;
      padding-bottom: 32px;
    }

    .slick-slide {
      height: auto;
      flex:   1;

      & > div {
        height: 100%;
      }
    }

    .slick-slide {
      padding: 10px;
    }

    .slick-dots {
      li {
        width:            8px;
        height:           8px;
        border-radius:    8px;
        background-color: $red;
        transition:       all 350ms;

        &.slick-active {
          width: 28px;
        }

        button {
          padding: 0;
          width:   inherit;
          height:  inherit;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &__boxes {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
    gap:             20px;
  }
}