.who-is-agustin {
  overflow:    hidden;
  padding-top: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 120px;
  }

  &__slider {
    .slick-slide {
      padding: 0 8px;
    }

    .slick-slide {
      height: auto;
      flex:   1;

      & > div {
        height:          100%;
        display:         flex;
        justify-content: center;
      }
    }

    .slick-next,
    .slick-prev {
      width:   26px;
      height:  26px;
      z-index: 1;
      top:     96px;

      @include media-breakpoint-up(lg) {
        width:  44px;
        height: 44px;
        top:    260px;
      }

      &::before {
        content:          '';
        background-image: url('./images/slider-arrow.svg');
        background-size:  cover;
        width:            100%;
        height:           100%;
        display:          block;
        opacity:          1;
      }
    }

    .slick-next {
      right: -5px;

      @include media-breakpoint-up(lg) {
        right: calc(50% - 600px - 24px);
      }
    }

    .slick-prev {
      left: -5px;
      @include media-breakpoint-up(lg) {
        left: calc(50% - 600px - 10px);
      }

      &::before {
        transform: rotate(180deg);
      }
    }

    .slick-dots {
      bottom: 60px;
      @include media-breakpoint-up(lg) {
        left:      60%;
        transform: translateX(-50%);
        width:     fit-content;
      }

      li {
        width:            8px;
        height:           8px;
        border-radius:    8px;
        background-color: $red;
        transition:       all 350ms;

        &.slick-active {
          width: 28px;
        }

        button {
          padding: 0;
          width:   inherit;
          height:  inherit;

          &::before {
            display: none;
          }

        }
      }
    }
  }
}