.why-you-should-dance {
  background-color: $red;
  padding:          60px 0;

  .section__header {
    display:        flex;
    flex-direction: column-reverse;

    * {
      color: $white;
    }

    .section__label {
      &::before {
        background-color: $white;
      }
    }
  }

  &-box {
    border-radius:    8px;
    background-color: rgba($white, 0.88);

    &__title {
      background-color: $white;
      border-radius:    8px;
      padding:          12px 16px;
      font-size:        15px;
      line-height:      20px;
      font-weight:      700;
    }

    &__description {
      padding:     12px 16px;
      font-size:   14px;
      line-height: 18px;
      font-weight: 400;
    }
  }
}